.blog_content {
  font-size: 1.6rem;
}
.post_container {
  text-align: left;
  padding: 80px 20px;
}
.post_container p,
.post_container ol {
  font-size: 1.5rem;
  line-height: 65px;
}

.post_container h1 {
  padding: 20px 0;
}
